:root {
    --color-1: #e7ebfd;
    --color-2: #bdc8fa;
    --color-3: #92a5f6;
    --color-4: #6881f3;
    --color-5: #3e5eef;
    --color-6: #133bec;
    --color-7: #1030c1;
    --color-8: #0c2697;
    --color-9: #091b6d;
    --color-10: #051042;
    --color-11: #020618;
    --color-12: #000000;
}
