/* Modales sin bordes visibles y con tema oscuro */
.modal-content {
    border: 0;
    background-color: var(--color-11);
    color: var(--color-1);
    box-shadow: var(--shadow-4);
    border-radius: var(--radius-lg);
}
.modal-header, .modal-footer { border: 0; }
.modal-header .btn-close { filter: invert(1); opacity: .8; }
.modal-header .btn-close:hover { opacity: 1; }
